# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.BaseApi.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Code\BaseApi\.idea\.idea.BaseApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
